@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.label-top
    padding 10px
    width 250px
    border-style solid
    margin 10px 10px 0px 10px
    border-radius 2px
    text-align center
    border-width thick

.label-bottom
    padding 10px
    text-align center
    width 250px
    border-style solid 
    border-radius 2px
    margin 0px 10px 10px 10px
    border-width thin

.dashed
    border-style dashed

.canvas
    padding 10px